<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DynamicInterop" version="0.8.1" targetFramework="net452" />
  <package id="MaterialDesignColors" version="1.1.2" targetFramework="net452" />
  <package id="MaterialDesignThemes" version="2.3.1.953" targetFramework="net452" />
  <package id="R.NET" version="1.7.0" targetFramework="net452" />
</packages>